@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@700&display=swap");

.mainhome {
  background-image: url("https://particle.scitech.org.au/app/uploads/2022/07/GettyImages-160111226-666x400-c-center.jpg");
  filter: blur(6px);
  -webkit-filter: blur(6px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  margin-top: -10em;
  margin-left: -20em;

  background-size: cover;
}
